# Dependency directories (any level)
node_modules/
jspm_packages/
web_archived/

# Build and distribution outputs
dist/
build/
out/
.next/
.vite/

# Environment variables
.env
.env.local
.env.*.local



# Debug and execution logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Docker development configurations
.docker/
*.db

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db

.cursor

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/crash.log
terraform/*.tfplan
terraform/plan.out
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json